# So the goal here is to have a catalog of all the items in your game
# To correctly generate a games items they need to be bundled in a list
# A list in programming terms is anything in square brackets [] to put it simply

# When a list is described its described as a list of x where x is the type of variable within it
# IE: ["apple", "pear", "grape"] is a list of strings (anything inside "" OR '' are considered strings)

# Logging = output. How you'll figure out whats going wrong
import logging

# Built in AP imports
from BaseClasses import Item, ItemClassification

# These come from the other files in this example. If you want to see the source ctrl + click the name
# You can also do that ctrl + click for any functions to see what they do
from .Types import ItemData, AlbumType, MusipelagoItem, album_id_to_title
from .Locations import get_total_locations
from typing import List, Dict, TYPE_CHECKING

# This is just making sure nothing gets confused dw about what its doing exactly
if TYPE_CHECKING:
    from . import MusipelagoWorld

# If you're curious about the -> List[Item] that is a syntax to make sure you return the correct variable type
# In this instance we're saying we only want to return a list of items
# You'll see a bunch of other examples of this in other functions
# It's main purpose is to protect yourself from yourself
def create_itempool(world: "MusipelagoWorld") -> List[Item]:
    # This is the empty list of items. You'll add all the items in the game to this list
    itempool: List[Item] = []

    # In this function is where you would remove any starting items that you add in options such as starting chapter
    # This is also the place you would add dynamic amounts of items from options
    # I can point to Sly Cooper and the Thievious Raccoonus since I did that

    # This is a good place to grab anything you need from options
    starting_chapter = album_id_to_title[AlbumType(world.options.StartingAlbum)]

    # For this example I'll make it so there is a starting chapter
    # We loop through all the chapters in the my_chapter section
    for chapter in ap_skeleton_chapters.keys():
        # If the starting chapter equals the chapter we're looking at skip it
        # We skip it since we dont want to add the chapter the player started with to the item pool
        if starting_chapter == chapter:
            continue
        # Otherwise then we create an item with that name and add it to the item pool
        else:
            itempool.append(create_item(world, chapter))
    
    # It's up to you and how you want things organized but I like to deal with victory here
    # This creates your win item and then places it at the "location" where you win
{% for album in apworld_data %}{% if album.tracks %}
    world.multiworld.get_location({{ "[%s] [%s] [%s]" | format(album.tracks[-1].artist | to_ascii, album.title | to_ascii, album.tracks[-1].title | to_ascii) | py_json }}, world.player).place_locked_item(create_item(world, "Album finished!"))
{% endif %}{% endfor %}

    # Then junk items are made
    # Check out the create_junk_items function for more details
    itempool += create_junk_items(world, get_total_locations(world) - len(itempool) - 1)

    return itempool

# This is a generic function to create a singular item
def create_item(world: "MusipelagoWorld", name: str) -> Item:
    data = item_table[name]
    return MusipelagoItem(name, data.classification, data.ap_code, world.player)

# Another generic function. For creating a bunch of items at once!
def create_multiple_items(world: "MusipelagoWorld", name: str, count: int,
                          item_type: ItemClassification = ItemClassification.progression) -> List[Item]:
    data = item_table[name]
    itemlist: List[Item] = []

    for i in range(count):
        itemlist += [MusipelagoItem(name, item_type, data.ap_code, world.player)]

    return itemlist

# Finally, where junk + trap + boon items are created to fill the leftover
# locations. `count` is the whole filler budget; if traps/boons are enabled we
# carve out shares of it (TrapPercentage / BoonPercentage) and fill the rest
# with junk. The shares come out of the same budget so the pool total never
# drifts (keeps create_itempool's location math intact).
def create_junk_items(world: "MusipelagoWorld", count: int) -> List[Item]:
    pool: List[Item] = []

    # How many of the `count` slots should be traps instead of junk.
    trap_count = 0
    if getattr(world.options, "EnableTraps", None) and world.options.EnableTraps and trap_weights:
        pct = int(world.options.TrapPercentage.value)
        trap_count = round(count * pct / 100)

    # How many of the remaining slots should be boons. Clamp so traps + boons
    # never exceed the whole budget (junk_count stays >= 0).
    boon_count = 0
    if getattr(world.options, "EnableBoons", None) and world.options.EnableBoons and boon_weights:
        pct = int(world.options.BoonPercentage.value)
        boon_count = round(count * pct / 100)
    boon_count = min(boon_count, max(0, count - trap_count))

    junk_count = max(0, count - trap_count - boon_count)

    # Junk slots: weighted random pick from the filler items.
    if junk_count > 0 and junk_weights:
        names = list(junk_weights.keys())
        weights = [junk_weights[n] for n in names]
        for i in range(junk_count):
            pool.append(world.create_item(world.random.choices(names, weights=weights, k=1)[0]))

    # Trap slots: weighted random pick from the trap items.
    if trap_count > 0 and trap_weights:
        names = list(trap_weights.keys())
        weights = [trap_weights[n] for n in names]
        for i in range(trap_count):
            pool.append(world.create_item(world.random.choices(names, weights=weights, k=1)[0]))

    # Boon slots: weighted random pick from the boon items.
    if boon_count > 0 and boon_weights:
        names = list(boon_weights.keys())
        weights = [boon_weights[n] for n in names]
        for i in range(boon_count):
            pool.append(world.create_item(world.random.choices(names, weights=weights, k=1)[0]))

    return pool

# Time for the fun part of listing all of the items
# Watch out for overlap with your item codes
# These are just random numbers dont trust them PLEASE
# I've seen some games that dynamically add item codes such as DOOM as well
ap_skeleton_items = {
    # Progression items
    "Album finished!": ItemData(2000001, ItemClassification.progression),

    # Victory is added here since in this organization it needs to be in the default item pool
    # "Victory": ItemData(2000002, ItemClassification.progression)
}

# I like to split up the items so that its easier to look at and since sometimes you only need to look at one specific type of list
# An example of that is in create_itempool where I simulated having a starting chapter
ap_skeleton_chapters = {
{% for album in apworld_data %}
    {{ "[%s] [%s]" | format(album.artist | to_ascii, album.title | to_ascii) | py_json }}: ItemData(1000{{ "%03d" | format(loop.index) }}, ItemClassification.progression),
{% endfor %}
}

# In the way that I made items, I added a way to specify how many of an item should exist
# That's why junk has a 0 since how many are created is in the create_junk_items
# There is a better way of doing this but this is my jank
junk_items = {
    # Junk
    "Scratched disc": ItemData(2001001, ItemClassification.filler, 0),
    ".mov file": ItemData(2001002, ItemClassification.filler, 0),
    "Funny animal .gif": ItemData(2001003, ItemClassification.filler, 0),
    "Concert tickets": ItemData(2001004, ItemClassification.filler, 0),
}

# Junk weights is just how often an item will be chosen when junk is being made
# Bigger item = more likely to show up
junk_weights = {
    "Scratched disc": 1,
    ".mov file": 1,
    "Funny animal .gif": 1,
    "Concert tickets": 1
}

# Traps live in their own dict so create_junk_items can split a configurable
# fraction of the filler budget into traps (see TrapPercentage). The client
# learns which received items are traps from slot_data["traps"]["names"], so
# these names must match what fill_slot_data sends.
trap_items = {
    "Bad Track Trap": ItemData(2005001, ItemClassification.trap, 0),
    "Shuffle Trap": ItemData(2005002, ItemClassification.trap, 0),
    "Seek Trap": ItemData(2005003, ItemClassification.trap, 0),
}

# Same idea as junk_weights, but for the trap pool. "Shuffle Trap" is the
# flagship effect (force-replay N already-finished tracks), weighted above the
# content-free reference "Bad Track Trap" so seeds mostly roll the real effect.
trap_weights = {
    "Bad Track Trap": 1,
    "Shuffle Trap": 3,
    "Seek Trap": 3,
}

# Boons are the positive counterpart to traps (A8). Like traps they live in
# their own dict so create_junk_items can carve a fraction of the filler budget
# into them (see BoonPercentage). The client learns which received items are
# boons from slot_data["boons"]["names"], so these names must match what
# fill_slot_data sends. Classified `useful`: helpful but not required to win.
boon_items = {
    "Reveal Token": ItemData(2006001, ItemClassification.useful, 0),
    "Skip Token": ItemData(2006002, ItemClassification.useful, 0),
}

# Same idea as trap_weights, but for the boon pool.
boon_weights = {
    "Reveal Token": 1,
    "Skip Token": 1,
}

# This makes a really convenient list of all the other dictionaries
# (fun fact: {} is a dictionary)
item_table = {
    **ap_skeleton_items,
    **ap_skeleton_chapters,
    **junk_items,
    **trap_items,
    **boon_items
}